include README.md
include LICENSE.md
recursive-include dashboard/statics *.css *.js *.eot *.otf *.svg *.ttf *.woff
recursive-include dashboard/templates *.html
global-exclude __pycache__
global-exclude *.py[co]
