<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starlette</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/bootstrap-fileinput.min.css') }}" rel="stylesheet">

    <!-- Iconic icons CSS -->
    <link href="{{ url_for('static', path='/css/open-iconic-bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for the site -->
    <link href="{{ url_for('static', path='/css/base.css') }}" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('dashboard:index') }}">Starlette</a>
        <ul class="navbar-nav mr-auto"></ul>
        {% if request.session.username %}
        <div class="dropdown">
          <a style="color: white" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ request.session.avatar_url }}" class="rounded float-left" alt="{{ request.session.username }}" width=20px height=20px/>
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <p class="dropdown-header">Logged in as <strong>{{ request.session.username }}</strong></p>
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
            <form action="{{ url_for('auth:logout') }}" method="POST"><button class="dropdown-item btn-link" type="submit">Logout</button></form>
          </div>
        </div>
        {% else %}
        <form class="form-inline" action="{{ url_for('auth:login') }}", method="POST">
          <button class="btn btn-outline-light" type="submit">Login</button>
        </form>
        {% endif %}
      </div>
    </nav>
    {% block content %}{% endblock %}

    <!-- <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', path='/js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap-fileinput.min.js') }}"></script>

    {% block tail %}{% endblock %}

  </body>
</html>
